@use "functions" as *;
@use "variables" as *;

.info {
  width: 65%;
  padding: rem(150) 0 0 rem(50);
  line-height: 1.3;

  .info-text {
    font-weight: 700;

    em {
      font-style: italic;
    }
  }

  :nth-child(3) {
    padding-top: rem(30);
  }
}
